/*
	Project Name 			:	Plan A;
	Project Description 	:	A simple Landing Page Design for My Fiverr Client;
	Author Name 			:	Saifur Rahman (Hasan);
	Author Mobile Number 	:	+8801727213319;
	Author Email 			:	saifur.dohs@gmail.com;
*/

body{
	background-color: white;
}

#theme_preloader{ background-color: #f5f8fa; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
#theme_wrapper{ display: none; }
#theme_wrapper.display-show{ display: block !important; }

.center-xy{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

/* Section */
.section{
	padding-top: 5em;
	padding-bottom: 5em;
}
.section img{ width: 100%; }

/* Section - Home */
.section-home .company-logo img{
	width: 75%;
}

.section-home .column-left .form-subscribe{
	padding-top: 50px;
	padding-left: 2em;
    padding-right: 2em;
}
.section-home .column-left .form-subscribe .form-heading{
    color: #101126;
    font-size: 2.5em;
    text-align: center
}

.section-home .column-left .form-subscribe .form-control{
	padding: 1.5em;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #101126;
}
.section-home .column-left .form-subscribe .form-button{
	width: 80%;
    margin: 0 auto;
    display: block;
    padding: .8em;
    background-color: #f9ba49;
    color: white;
    font-size: 1.3em;
    box-shadow: none;
}

.section-home .column-right .logo-list{ text-align: center; }
.section-home .column-right .logo-list a{ display: inline-block; width: 100px; height: 100px; overflow: hidden; }
.section-home .column-right .logo-list a img{ transform: scale(1); }
.section-home .column-right .image-laptop{ margin-top: 1em; }
.section-home .column-right .image-laptop img{ transform: scale(1.2); }