/*
	Project Name 			:	Plan A;
	Project Description 	:	A simple Landing Page Design for My Fiverr Client;
	Author Name 			:	Saifur Rahman (Hasan);
	Author Mobile Number 	:	+8801727213319;
	Author Email 			:	saifur.dohs@gmail.com;
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Zilla+Slab:400,700');

.font-Montserrat{font-family: 'Montserrat', sans-serif;}
.font-Zilla-Slab{font-family: 'Zilla Slab', serif; font-weight: 400;}

body{
	background-color: white;
}

#theme_preloader{ background-color: #f5f8fa; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
#theme_wrapper{ display: none; padding-top: 70px; }
#theme_wrapper.display-show{ display: block !important; }

.center-xy{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.pos-relative{ position: relative; }
.form-arrow{ display: inline; width: 30px; }
.text-bold{ font-weight: bold; }

.navbar-brand{ width: 150px; display: inline-block; }
.navbar-brand img{ width: 80%; margin-top: -10px }

.form-subscribe{
    padding-top: 50px;
    padding-left: 2.9em;
    padding-right: 2.8em;
    background: url(../images/icons/icon-arrow.png) no-repeat;
    background-size: 115px;
    background-position-x: -20px;
    background-position-y: 140px;
}

.form-subscribe .form-heading{
    color: #101126;
    font-size: 2.3em;
    text-align: center;
    position: relative;
}

.form-subscribe .form-control{
    padding: 1.2em;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #101126;
}
.form-button{
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: .8em;
    background-color: #f9ba49;
    color: white;
    font-size: 1.3em;
    box-shadow: none;
    font-weight: bold;
}
.form-button span{ margin-left: 30px; margin-top: -5px; }

/* Section */
.section{
	padding-top: 4em;
	padding-bottom: 4em;
    position: relative;
}
.section img{ width: 100%; }
.section.arrow-bototm:after{ 
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 120px solid #fff;
    z-index: 2;
}


/* Section - Home */
.section-home{ padding-bottom: 2em }
.section-home .company-logo img{ width: 75%; }
.section-home .column-right .logo-list{ text-align: center; }
.section-home .column-right .logo-list a{ display: inline-block; width: 100px; height: 100px; overflow: hidden; }
.section-home .column-right .logo-list a img{ transform: scale(1); }
.section-home .column-right .image-laptop{ margin-top: 1em; }
.section-home .column-right .image-laptop img{ transform: scale(1.2); }
.section-home .column-right .laptop-heading{ text-align: center; margin-top: 2em; color: #66BBAF; font-weight: bold; }

/* Section Services */
.section-services{ background-color: #66BBAF; color: white; position: relative; padding-top: 10em; }
.section-services .thumbnail{ margin-top: 3em; position: relative; border:0; background-color: transparent; padding-left: 1.2em; padding-right: 1.2em; text-align: center; }
.section-services .thumbnail .caption{ color: white; }
.section-services .thumbnail .thumb-img{ padding-left: 5em; padding-right: 5em; }
.section-services .thumbnail .counter{ position: absolute; top: -50px; left: 50%; transform: translateX(-50%); width: 40px; height: 40px; font-size: 2em; background-color: white; color: #66BBAF; line-height: 35px; border-radius: 50%; font-weight: bold;  }
.section-services .counter-hr{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    width: 66%;
}
.section-services .thumbnail .caption p{ font-size: 1.2em; }
.section-services.arrow-bototm:after{ border-top-color: #66BBAF !important; }

/* section description */
.section-description { background-color: #262227; color: #fff; padding-left: 0;padding-top: 7em;}
.des-left { padding-left: 0 !important;  }
.des-left h1 { font-style: bold; font-size: 4em; margin-bottom: .5em; }
.des-left p { font-size: 2.3em; }
.des-left p .cyan { color: #54B6B0; font-weight: bold; }
.des-right { padding-top: 16em; }

/* Secction Newsletter */
.setion-newsletter{ background-color: #f5f8fa; }
.setion-newsletter .form-subscribe{
    background-position-x: -20px;
    background-position-y: 60px;
    padding-top: 3em;
}

/* Section Social */
.section-social .company-logo img{ width: 70%; }
.section-social .section-headline{ color: #66BBAF; font-weight: bold; font-size: 4em; }
.section-social .social-icons-lists{ margin-top: 1.5em; padding-left: 27px; }
.section-social .social-icons-lists li{ width: 50px; height: 50px; overflow: hidden; }
.section-social .social-icons-lists li img{ width: 100%; transition: all .4s ease; }
.section-social .social-icons-lists li:hover img{ transform: scale(.95); }
.section-social .arrow-box{ background: url(../images/icons/icon-arrow.png) no-repeat; background-size: 70px; background-position-x: -14px; background-position-y: 275px; padding-left: 16px; }
.section-social .column-right p{ font-size: 1.5em; }

/* section-contact */
.section-contact{
    background: url(../images/logo_and_images/contact-image.jpg) no-repeat;
    background-size: 48%;
    background-position: right;
    padding-bottom: 0;
    padding-top: 0;
}
.section-contact .form-headline{ color: #262227; margin-top: 0; font-weight: bold; }

.section-contact .form-contact{
    position: relative;
}
.section-contact .form-contact{ position: relative; padding-right: 8em; margin-top: 2em; }
.section-contact .form-contact .form-group{ margin-bottom: 1.5em; }
.section-contact .form-contact .form-group:last-child{ margin-bottom: 0; }
.section-contact .form-contact .form-group label{ font-size: 1.3em; color: #54B6B0; }
.section-contact .form-contact .form-control{
    border-color: #262227;
    padding: 1.3em;
    height: 60px;
    font-size: 1.5em;
    box-sizing: border-box;
}
.section-contact .form-contact select.form-control{
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px
}
.section-contact .form-contact .btn-contact{ 
    position: absolute; right: -60px; top: 54.5%; transform: translateY(-50%);
    margin: 0 auto;
    display: block;
    padding: .8em 1.5em;
    background-color: #f9ba49;
    color: white;
    font-size: 1.3em;
    box-shadow: none;
    font-weight: bold;
    z-index: 30;
}

.section-contact{ position: relative; }
.section-contact .arrow-right{
    position: absolute;
    right: 42%;
    top: 57%;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 120px solid white;
    z-index: 30;
    transform: translateY(-50%);
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #262227 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #262227 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #262227;
}
input:-moz-place !importantholder { /* Firefox 18- */
  color: #262227 !important;
}
input::placeholder{ color: #262227 !important; }

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .section-home .company-logo{ text-align: center; }
    .section-home .form-subscribe{ padding-top: 17px; }
    .section-home .form-subscribe .form-heading{ font-size: 1.5em; font-weight: bold; }
    .section-home .form-subscribe .form-control{ padding: 1.2em; font-size: 1.2em; }
    .section-home .form-subscribe .form-button{ width: 100%; padding: .4em; font-size: 1.2em; }
    .section-home .form-subscribe{ background-image: none; }
    .section-home .column-right .logo-list{ margin-top: 3em; }
    .section-home .column-right .logo-list a{ width: 75px; height: 75px; }
    .section-home .column-right > span{ display: none; }
    .section-home .column-right .image-laptop{ margin-top: 1.8em; }
    .section-home .column-right .image-laptop img{ transform: scale(1); }
    .section.arrow-bototm:after{ bottom: -35px; border-left: 120px solid transparent; border-right: 120px solid transparent; border-top: 50px solid #fff; }
    .section-services{ padding-top: 5em; }
    .section-services .section-heading{ font-size: 2em; text-align: center; }
    .section-services .counter, .section-services .counter-hr{ display: none; }
    .section-services .thumbnail{ margin-top:0; }
    .section-services .thumbnail .thumb-img { padding-left: 8em; padding-right: 8em; }
    .section-description .des-left{ padding-left: 1.5em !important; padding-right: 1.5em !important; }
    .section-description .des-left h1{ font-size: 2.5em; }
    .section-description .des-left p{ font-size: 1.5em; }
    .section-description .des-right{ padding-top: 1.5em; }
    .section-description .des-right .form-button{ width: 100%; }
    .setion-newsletter .form-subscribe{ background-image: none; }
    .setion-newsletter .form-subscribe .form-control{ padding: 1.2em; font-size: 1.2em; }
    .setion-newsletter .form-subscribe .form-button{ width: 100%; padding: .4em; font-size: 1.2em; }
    .section-social .company-logo{ display: none; }
    .section-social .section-headline{ font-size: 3em; }
    .section-social .arrow-box{ background-image: none; }
    .section-social .column-right p{ font-size: 1.2em; }
    .section-social .column-right .social-icons-lists{ text-align: center; margin-top: 3em; padding-left: 0; }
    .section-contact{ background-size: cover; }
    .section-contact .form-headline{ color: white; margin-top: 2em; text-align: center; font-size: 1.5em; }
    .section-contact .arrow-right{ display: none; }
    .section-contact .form-contact{ padding-right: 0; }
    .section-contact .form-contact .form-group label{ font-size: 1.2em; color:#262227; }
    .section-contact .form-contact .form-control{ background-color: rgba(255,255,255,.5); padding-top: 8px; padding-bottom: 7px; height: 45px }
    .section-contact .form-contact .btn-contact{ position: relative; top: 24px; left: 0; margin-top: 20px; width: 100%; padding-top: 8px; padding-bottom: 8px; }
    .section-contact .form-contact select.form-control{ height: 45px; padding-top: 5px; padding-bottom: 5px }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .section-home .column-left{ width: 100%; }
    .section-home .column-right{ width: 100%; }
    .section-home .company-logo{ text-align: center; }
    .section-home .company-logo img{ width: 50% }
    .section-home .form-subscribe{ padding-top: 17px; }
    .section-home .form-subscribe .form-heading{ font-size: 1.5em; font-weight: bold; }
    .section-home .form-subscribe .form-control{ padding: 1.2em; font-size: 1.2em; }
    .section-home .form-subscribe .form-button{ width: 100%; padding: .4em; font-size: 1.2em; }
    .section-home .form-subscribe{ background-image: none; }
    .section-home .column-right .logo-list{ margin-top: 3em; }
    .section-home .column-right .logo-list a{ width: 125px; height: 125px; }
    .section-home .column-right > span{ display: none; }
    .section-home .column-right .image-laptop{ margin-top: 1.8em; }
    .section-home .column-right .image-laptop img{ transform: scale(1); }
    .section-home .column-right .laptop-heading{ margin-top: 0; font-size: 2.2em; }
    .section.arrow-bototm:after{ bottom: -35px; border-left: 120px solid transparent; border-right: 120px solid transparent; border-top: 50px solid #fff; }
    .section-services{ padding-top: 5em; }
    .section-services .col-left{ width: 100%; }
    .section-services .col-right{ width: 100%; margin-left: 0 }
    
    .section-services .thumbnail{ padding:0; }

    .section-description .des-left{ padding-left: 1.5em !important; padding-right: 1.5em !important; width: 100%; }
    .section-description .des-left h1{ font-size: 2.5em; }
    .section-description .des-left p{ font-size: 1.5em; }
    .section-description .des-right{ padding-top: 1.5em; width: 100%; }
    .section-description .des-right .form-button{ display: inline-block; padding-left: 20px; padding-right: 20px; width: 50%; }
    .setion-newsletter .col-block{ width: 80%; margin-left: 10%;  }
    .setion-newsletter .form-subscribe{ background-image: none; }
    .setion-newsletter .form-subscribe .form-control{ padding: 1.2em; font-size: 1.2em; }
    .setion-newsletter .form-subscribe .form-button{ width: 100%; padding: .4em; font-size: 1.2em; }
    .section-social .column-left{ width: 100%; }
    .section-social .column-right{ width: 100%; }
    .section-social .company-logo img{ width: 50%; }
    .section-social .section-headline{ font-size: 3em; }
    .section-social .arrow-box{ background-image: none; }
    .section-social .column-right p{ font-size: 1.2em; }
    .section-social .column-right .social-icons-lists{ text-align: center; margin-top: 3em; padding-left: 0; }
    .section-contact{ background-size: cover; }
    .section-contact .form-headline{ color: white; margin-top: 2em; text-align: center; font-size: 1.5em; }
    .section-contact .arrow-right{ display: none; }
    .section-contact .form-contact{ padding-right: 0; padding-bottom: 4em; }
    .section-contact .column-left{ width: 100%; padding-left: 8em; padding-right: 8em; }
    .section-contact .form-contact .form-group label{ font-size: 1.2em; color:#FFF; }
    .section-contact .form-contact .form-control{ background-color: rgba(255,255,255,.5); padding-top: 8px; padding-bottom: 7px; height: 45px }
    .section-contact .form-contact .btn-contact{ position: relative; top: 24px; left: 0; margin-top: 20px; width: 100%; padding-top: 8px; padding-bottom: 8px; }
    .section-contact .form-contact select.form-control{ height: 45px; padding-top: 5px; padding-bottom: 5px }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}