/*
	Project Name 			:	Plan A;
	Project Description 	:	A simple Landing Page Design for My Fiverr Client;
	Author Name 			:	Saifur Rahman (Hasan);
	Author Mobile Number 	:	+8801727213319;
	Author Email 			:	saifur.dohs@gmail.com;
*/

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

.font-Montserrat-Bold{
    font-family: Montserrat-Bold;
}

body{
	background-color: white;
}

#theme_preloader{ background-color: #f5f8fa; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
#theme_wrapper{ display: none; }
#theme_wrapper.display-show{ display: block !important; }

.center-xy{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

/* Section */
.section{
	padding-top: 5em;
	padding-bottom: 5em;
    position: relative;
}
.section img{ width: 100%; }
.section.arrow-bototm:after{ 
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 120px solid #fff;
    z-index: 2;
}


/* Section - Home */
.section-home .company-logo img{
	width: 75%;
}


.section-home .column-left .form-subscribe{
	padding-top: 50px;
	padding-left: 2.9em;
    padding-right: 2.8em;
}

.section-home .column-left .form-subscribe{
    background: url(../images/icons/icon-arrow.png) no-repeat;
    background-size: 115px;
    background-position-x: -20px;
    background-position-y: 140px;
}

.section-home .column-left .form-subscribe .form-heading{
    color: #101126;
    font-size: 2.3em;
    text-align: center;
    position: relative;
}

.section-home .column-left .form-subscribe .form-control{
	padding: 1.2em;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #101126;
}
.section-home .column-left .form-subscribe .form-button{
	width: 80%;
    margin: 0 auto;
    display: block;
    padding: .8em;
    background-color: #f9ba49;
    color: white;
    font-size: 1.3em;
    box-shadow: none;
    font-weight: bold;
}
.section-home .column-left .form-subscribe .form-button span{ margin-left: 30px; margin-top: -5px; }
.section-home .column-right .logo-list{ text-align: center; }
.section-home .column-right .logo-list a{ display: inline-block; width: 100px; height: 100px; overflow: hidden; }
.section-home .column-right .logo-list a img{ transform: scale(1); }
.section-home .column-right .image-laptop{ margin-top: 1em; }
.section-home .column-right .image-laptop img{ transform: scale(1.2); }
.section-home .column-right .laptop-heading{ text-align: center; margin-top: 2em; color: #66BBAF; font-weight: bold; }

/* Section Services */
.section-services{
    height: 100vh;
    background-color: #66BBAF;
    color: white;
}
.section-services .thumbnail{ border:0; background-color: transparent; padding-left: 1.2em; padding-right: 1.2em; text-align: center; }
.section-services .thumbnail .caption{ color: white; }
.section-services .thumbnail .thumb-img{ padding-left: 5em; padding-right: 5em; }

.form-arrow{ display: inline; width: 30px; }
.text-bold{ font-weight: bold; }